html
    head
    meta(charest="UTF-8")
    title This Is Puging Page
    body
        .container
        .row
            .col-md-4 This Is Dev
            .col-md-4 This Is Dev
            .col-md-4 This Is Dev